<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.works.facial.metrics.pro"
    android:versionCode="5"
    android:versionName="1.5" >
	
	<!-- SDK -->
	<uses-sdk 	android:minSdkVersion="7"
        		android:targetSdkVersion="14" 
      			/>
    
   	<!-- Permissions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	
	<!-- Features -->
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    
    <!-- Application -->
    <application
       android:icon="@drawable/ic_launcher"
       android:label="@string/app_name"
       android:debuggable="false"
       android:largeHeap="true"
       >
        
        <activity
            android:name=".FaceProfilerActivity"
            android:theme="@style/Theme.HoloEverywhereDark"
            android:label="FacialMetricsPro" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
   
	
    </application>

</manifest>